*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.rs
!scriptpy/*.py
!*.vh
!*.ld
!Cargo.toml
!Cargo.lock
!.gitignore
!.scalafmt.conf
!README.md
!doc/frontend-vnext-progress.md
build/
run/

# mill
!*.mill
!.mill-version
out/
.bsp/
.metals/
.idea/
.idea_modules/
test_run_dir/
